@font-face {
    font-family: "Balsamiq Sans Regular";
    src: url("ressource/BalsamiqSans-Regular.ttf");
}

@font-face {
    font-family: "Balsamiq Sans Bold";
    src: url("ressource/BalsamiqSans-Bold.ttf");
}

.root {
    -fx-font-family: "Balsamiq Sans Regular";
}

#month_container{
	-fx-border-color : #EAEAEA;
	-fx-pref-height : 32px;
	-fx-border-radius : 5px;
	
}

#top_container{
	-fx-padding : 16px;
	-fx-background-color : white;
}

#bottom_container{
	-fx-padding : 16px;
	-fx-background-color : white;
	-fx-border-radius : 17
	px;
	-fx-border-color : #EAEAEA;
	


}

.month{
	-fx-border-color : white;
	-fx-alignment : center;
	-fx-background-color : white;
	-fx-text-fill: #9A9A9A;
	-fx-border-radius : 4px;
	-fx-font-size : 10px;
	
}

.month_on{

	-fx-border-color : black;
	-fx-alignment : center;
	-fx-background-color : white;
	-fx-border-radius : 4px;
	-fx-font-size : 10px;
}

.month_off{
	-fx-border-color : white;
	-fx-alignment : center;
	-fx-background-color : white;
	-fx-border-radius : 4px;
	-fx-text-fill: #CDCDCD;
	-fx-strikethrough: true;
	-fx-font-size : 10px;
	
	
}

.stuff_card{
	-fx-border-color : #EAEAEA;
	-fx-border-radius : 7px;
	-fx-padding : 3px;
}

.pay_to_win_stuff_card{
	-fx-border-color : #E0AB27;
	-fx-border-radius : 7px;
	-fx-padding : 3px;
	-fx-background-color : #FCF7E9;
}




.root {
    -fx-background-color: #ECECEC;
}

/* ===== TITRE ===== */

.title-label {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-alignment: center;
}

/* ===== BOUTON NOUVELLE PARTIE ===== */

.play-button {
    -fx-background-color: #22AEE5;
    -fx-text-fill: white;

    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";

    -fx-background-radius: 15;

    -fx-pref-width: 340px;
    -fx-pref-height: 90px;

    -fx-cursor: hand;
}

.play-button:hover {
    -fx-background-color: #1B9ACB;
}

/* ===== BOUTON CONTINUER ===== */

.continue-button {
    -fx-background-color: black;
    -fx-text-fill: white;

    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";

    -fx-background-radius: 15;

    -fx-pref-width: 340px;
    -fx-pref-height: 90px;

    -fx-cursor: hand;
}

.continue-button:hover {
    -fx-background-color: #222222;
}




.root {
    -fx-background-color: #ECECEC;
}

.titre {
    -fx-font-size: 52px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

.titre2 {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
}

.bouton-bleu {
    -fx-background-color: #1FB0E5;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.bouton-noir {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.carte-difficulte {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-alignment: center;
}

.titre-carte {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
}

.texte-carte {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

.root {
    
    -fx-background-size: stretch;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.background-choix {
    -fx-background-image: url("ressource/background-choix.png");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.title_gameplay{
	-fx-font-size : 18px;
	-fx-font-family: "Balsamiq Sans Bold";
}


.title2_gameplay{
	-fx-font-size : 14px;
	-fx-font-family: "Balsamiq Sans Bold";
}

.title3_gameplay{
	-fx-font-size : 12px;
	-fx-font-family: "Balsamiq Sans Bold";
}

.sub_title_gameplay{
	-fx-font-size : 10px;
	-fx-text-fill : #7E7E7E;
		
}

.btn_princip_gameplay{
	-fx-background-color: black;
	-fx-border-radius: 7px;
	-fx-background-radius :7px;
	-fx-text-fill : white;
	-fx-border-color: black;
	-fx-padding : 9px;
	-fx-font-size : 11px;
	
}

.section_gameplay{
	-fx-border-color : #D9D9D9;
	-fx-border-radius: 7px;
	-fx-padding : 15px;
}

.smurf_card_off{
	-fx-border-color : #D9D9D9;
	-fx-border-radius: 7px;
	-fx-padding: 0 20px 0 20px;
}

.smurf_card_on{
	-fx-border-color : black;
	-fx-border-radius: 10px;
	-fx-padding: 0 20px 0 20px;
}

.pay_to_win_smurf_card{
	-fx-border-color : #E0AB27;
	-fx-border-radius: 10px;
	-fx-padding: 0 20px 0 20px;
	-fx-background-color : #FCF7E9;
}

.plus_number{
	-fx-font-family :  "Balsamiq Sans Bold";
	-fx-font-size : 15;
	-fx-text-fill : #00C22A;
}

.less_number{
	-fx-font-family :  "Balsamiq Sans Bold";
	-fx-font-size : 15;
	-fx-text-fill : #E90000;
}

.progress-bar .track {
    -fx-background-color: white;
    -fx-border-radius: 10px;
	-fx-border-color : #D9d9d9;
}

.progress-bar .bar {
    -fx-background-color: #00B4EE;
	-fx-border-radius: 10px;
    -fx-background-radius: 10px;
}







