@font-face {
    font-family: "Balsamiq Sans Regular";
    src: url("ressource/BalsamiqSans-Regular.ttf");
}

@font-face {
    font-family: "Balsamiq Sans Bold";
    src: url("ressource/BalsamiqSans-Bold.ttf");
}

.root {
    -fx-font-family: "Balsamiq Sans Regular";
}

#month_container{
	-fx-border-color : #EAEAEA;
	-fx-pref-height : 32px;
	-fx-border-radius : 5px;
	
}

#top_container{
	-fx-padding : 16px;
	-fx-background-color : white;
}

#bottom_container{
	-fx-padding : 16px;
	-fx-background-color : white;
	-fx-border-radius : 17
	px;
	-fx-border-color : #EAEAEA;
	


}

.month{
	-fx-border-color : white;
	-fx-alignment : center;
	-fx-background-color : white;
	-fx-text-fill: #9A9A9A;
	-fx-border-radius : 4px;
	-fx-font-size : 10px;
	
}

.month_on{

	-fx-border-color : black;
	-fx-alignment : center;
	-fx-background-color : white;
	-fx-border-radius : 4px;
	-fx-font-size : 10px;
}

.month_off{
	-fx-border-color : white;
	-fx-alignment : center;
	-fx-background-color : white;
	-fx-border-radius : 4px;
	-fx-text-fill: #CDCDCD;
	-fx-strikethrough: true;
	-fx-font-size : 10px;
	
	
}

.stuff_card{
	-fx-border-color : #EAEAEA;
	-fx-border-radius : 7px;
	-fx-padding : 3px;
}

.pay_to_win_stuff_card{
	-fx-border-color : #E0AB27;
	-fx-border-radius : 7px;
	-fx-padding : 3px;
	-fx-background-color : #FCF7E9;
}




.root {
    -fx-background-color: #ECECEC;
}

/* ===== TITRE ===== */

.title-label {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-alignment: center;
}

/* ===== BOUTON NOUVELLE PARTIE ===== */

.play-button {
    -fx-background-color: #22AEE5;
    -fx-text-fill: white;

    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";

    -fx-background-radius: 15;

    -fx-pref-width: 340px;
    -fx-pref-height: 90px;

    -fx-cursor: hand;
}

.play-button:hover {
    -fx-background-color: #1B9ACB;
}

/* ===== BOUTON CONTINUER ===== */

.continue-button {
    -fx-background-color: black;
    -fx-text-fill: white;

    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";

    -fx-background-radius: 15;

    -fx-pref-width: 340px;
    -fx-pref-height: 90px;

    -fx-cursor: hand;
}

.continue-button:hover {
    -fx-background-color: #222222;
}




.root {
    -fx-background-color: #ECECEC;
}

.titre {
    -fx-font-size: 52px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

.titre2 {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
}

.bouton-bleu {
    -fx-background-color: #1FB0E5;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.bouton-noir {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.carte-difficulte {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-alignment: center;
}

.titre-carte {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
}

.texte-carte {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

<<<<<<< HEAD

.background-menu {
    -fx-background-image: url("ressource/background-menu.png");
    -fx-background-size: cover;
=======
.root {
    
    -fx-background-size: stretch;
>>>>>>> branch 'master' of https://github.com/Fetklvnvivuiv/SAE_JAVA_SCHTROUMPF.git
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.background-choix {
    -fx-background-image: url("ressource/background-choix.png");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

<<<<<<< HEAD





.root{
    -fx-background-color: #f5f5f5;
}

.victory-title{
    -fx-font-size: 72px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.victory-subtitle{
    -fx-font-size: 24px;
    -fx-text-fill: #222222;
}

.stat-number{
    -fx-font-size: 54px;
    -fx-font-weight: bold;
    -fx-text-fill: #19b5f1;
}

.stat-label{
    -fx-font-size: 22px;
    -fx-text-fill: #111111;
}

.section-title{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.separator-line{
    -fx-background-color: #dddddd;
}

.bouton-noir{
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 14;
    -fx-cursor: hand;
}

.bouton-noir:hover{
    -fx-background-color: #1a1a1a;
}

.bouton-bleu{
    -fx-background-color: #19b5f1;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 14;
    -fx-cursor: hand;
}

.bouton-bleu:hover{
    -fx-background-color: #10a7e3;
}

.background-victoire {
    -fx-background-image: url("ressource/victoir-background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.background-defeat {
    -fx-background-image: url("ressource/background-defaite.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.defeat-title {
    -fx-font-size: 74px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff3131;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.85), 12, 0.5, 0, 4);
}

.defeat-subtitle {
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-weight: normal;
}

.stats-container {
    -fx-background-color: rgba(25,0,0,0.28);
    -fx-background-radius: 24px;
    -fx-border-color: rgba(255,80,80,0.12);
    -fx-border-radius: 24px;
    -fx-padding: 18 12 18 12;
}

.separator-vertical {
    -fx-pref-width: 2px;
    -fx-min-width: 2px;
    -fx-max-width: 2px;
    -fx-background-color: rgba(255,255,255,0.10);
}

.defeat-stat-number {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff4040;
}

.defeat-stat-text {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.defeat-card {
    -fx-background-color: rgba(20, 0, 0, 0.35);
    -fx-background-radius: 28;

    -fx-border-color: rgba(255, 60, 60, 0.20);
    -fx-border-width: 1.5;
    -fx-border-radius: 28;

    -fx-padding: 35 28 25 28;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.55), 18, 0.25, 0, 6);
}

.defeat-card-title {
    -fx-text-fill: #ff4747;

    -fx-font-size: 25px;
    -fx-font-weight: bold;

    -fx-padding: -5 0 5 0;
}

.defeat-button-dark,
.defeat-button-red {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 18px;
    -fx-cursor: hand;
}

.defeat-button-dark {
    -fx-background-color: linear-gradient(to bottom,#222222,#050505);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0.4, 0, 4);
}

.defeat-button-dark:hover {
    -fx-background-color: linear-gradient(to bottom,#333333,#111111);
}

.defeat-button-red {
    -fx-background-color: linear-gradient(to bottom,#ff3b3b,#c40000);
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.55), 18, 0.5, 0, 0);
}

.defeat-button-red:hover {
    -fx-background-color: linear-gradient(to bottom,#ff5555,#e00000);
}
=======
.title_gameplay{
	-fx-font-size : 18px;
	-fx-font-family: "Balsamiq Sans Bold";
}


.title2_gameplay{
	-fx-font-size : 14px;
	-fx-font-family: "Balsamiq Sans Bold";
}

.title3_gameplay{
	-fx-font-size : 12px;
	-fx-font-family: "Balsamiq Sans Bold";
}

.sub_title_gameplay{
	-fx-font-size : 10px;
	-fx-text-fill : #484848;
		
}



.btn_princip_gameplay{
	-fx-background-color: black;
	-fx-border-radius: 7px;
	-fx-background-radius :7px;
	-fx-text-fill : white;
	-fx-border-color: black;
	-fx-padding : 9px 20px 9px 20px;
	-fx-font-size : 11px;	
}

.btn_princip_gameplay_colored{
	-fx-background-color: #02AFEA;
	-fx-border-radius: 7px;
	-fx-background-radius :7px;
	-fx-text-fill : white;
	-fx-padding : 9px 20px 9px 20px;
	-fx-font-size : 11px;	
}

.btn_second_gameplay{
	-fx-background-color: white;
	-fx-border-radius: 7px;
	-fx-background-radius :7px;
	-fx-border-color: black;
	-fx-padding : 9px 20px 9px 20px;
	-fx-font-size : 11px;	
}


.section_gameplay{
	-fx-border-color : #D9D9D9;
	-fx-border-radius: 7px;
	-fx-padding : 15px;
}

.smurf_card_off{
	-fx-border-color : #D9D9D9;
	-fx-border-radius: 7px;
	-fx-padding: 0 20px 0 20px;
	-fx-font-size : 11;
	
}

.smurf_card_on{
	-fx-border-color : black;
	-fx-border-radius: 10px;
	-fx-padding: 0 20px 0 20px;
	-fx-font-size : 11;
}

.pay_to_win_smurf_card{
	-fx-border-color : #E0AB27;
	-fx-border-radius: 10px;
	-fx-padding: 0 20px 0 20px;
	-fx-background-color : #FCF7E9;
}

.plus_number{
	-fx-font-family :  "Balsamiq Sans Bold";
	-fx-font-size : 15;
	-fx-text-fill : #00C22A;
}

.less_number{
	-fx-font-family :  "Balsamiq Sans Bold";
	-fx-font-size : 15;
	-fx-text-fill : #E90000;
}

.progress-bar .track {
    -fx-background-color: white;
    -fx-border-radius: 10px;
	-fx-border-color : #D9d9d9;
}

.progress-bar .bar {
    -fx-background-color: #00B4EE;
	-fx-border-radius: 10px;
    -fx-background-radius: 10px;
}







<<<<<<< HEAD
>>>>>>> branch 'master' of https://github.com/Fetklvnvivuiv/SAE_JAVA_SCHTROUMPF.git
=======



>>>>>>> branch 'master' of https://github.com/Fetklvnvivuiv/SAE_JAVA_SCHTROUMPF.git
